## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [26]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [27]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [28]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [29]:
# 3) Seu código aqui
total/90 * 10

    Qt_acertos
0     3.888889
1     5.333333
2     5.555556
3     3.555556
4     3.333333
..         ...
95    3.777778
96    3.000000
97    4.444444
98    4.444444
99    4.666667

[100 rows x 1 columns]

In [30]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [31]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [1]:
import pandas as pd

arquivo = 'registros_de_vacinacao_covid_ACRE.csv'

df = pd.read_csv(arquivo, sep=';')

In [2]:
# 1)
total_vacinas = df.shape[0]

print(f'Quantidade de vacinas na base de dados: {total_vacinas}')

Quantidade de vacinas na base de dados: 169071

In [3]:
# 2) 
total_pacientes = df['paciente_id'].nunique()

print(f'Quantidade de pacientes vacinados: {total_pacientes}')

Quantidade de pacientes vacinados: 120517

In [4]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]

pacientes_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]['paciente_id'].nunique()

print(f'Quantidade de pacientes que tomaram a primeira dose: {pacientes_primeira_dose}')

Quantidade de pacientes que tomaram a primeira dose: 119713

In [5]:
# 3) solução alternativa
pacientes_primeira_dose = df[df['vacina_descricao_dose'] == df['vacina_descricao_dose'].unique()[0]]

numero_pacientes_primeira_dose = pacientes_primeira_dose['paciente_id'].nunique()

print('Quantidade de pacientes que tomaram a primeira dose:')

print(numero_pacientes_primeira_dose)

Quantidade de pacientes que tomaram a primeira dose:
119713

In [6]:
# 4) 
pacientes_menores_18_anos = df[df['paciente_idade'] < 18]['paciente_id'].nunique()

print(f'Quantidade de pacientes menores de 18 anos: {pacientes_menores_18_anos}')

Quantidade de pacientes menores de 18 anos: 47

In [7]:
# 5)
estabelecimentos_acre_valor = df[df['estabelecimento_uf'] == 'AC']['estabelecimento_valor'].nunique()

estabelecimentos_acre_razaosocial = df[df['estabelecimento_uf'] == 'AC']['estabelecimento_razaosocial'].nunique()



print(f"Quantidade de estabelecimentos que aplicaram vacina no Acre (pela coluna 'estabelecimento_valor'): {estabelecimentos_acre_valor}")

print(f"Quantidade de estabelecimentos que aplicaram vacina no Acre (pela coluna 'estabelecimento_razaosocial'): {estabelecimentos_acre_razaosocial}")

Quantidade de estabelecimentos que aplicaram vacina no Acre (pela coluna 'estabelecimento_valor'): 102
Quantidade de estabelecimentos que aplicaram vacina no Acre (pela coluna 'estabelecimento_razaosocial'): 42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [9]:
# 1) 
df_menores_18 = df[df['paciente_idade'] < 18].copy()

In [10]:
# 2) 
colunas_df_menores_18 = df_menores_18.columns.tolist()

In [11]:
# 3)
print("Quantidade de valores na coluna 'vacina_categoria_nome':")

print(df_menores_18['vacina_categoria_nome'].count())

print()

Quantidade de valores na coluna 'vacina_categoria_nome':
54

In [13]:
print("Quantidade de valores únicos na coluna 'vacina_categoria_nome':")

print(df_menores_18['vacina_categoria_nome'].nunique())

print()

Quantidade de valores únicos na coluna 'vacina_categoria_nome':
5

In [12]:
print("Contagem dos valores únicos na coluna 'vacina_categoria_nome':")

print(df_menores_18['vacina_categoria_nome'].value_counts())

print()

Contagem dos valores únicos na coluna 'vacina_categoria_nome':
vacina_categoria_nome
Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: count, dtype: int64

In [14]:
# 4)
colunas_estabelecimentos_df_menores_18 = [coluna for coluna in colunas_df_menores_18 if coluna.startswith('estabelecimento')]

In [15]:
# 5)
df_estabelecimentos_menores_18 = df_menores_18.loc[:, colunas_estabelecimentos_df_menores_18]

In [16]:
# 6) 
lista_estabelecimentos_df_menores_18 = df_estabelecimentos_menores_18.drop_duplicates()

lista_estabelecimentos_df_menores_18.reset_index(drop=True, inplace=True)

lista_estabelecimentos_df_menores_18.index += 1

lista_estabelecimentos_df_menores_18

,estabelecimento_valor,estabelecimento_razaosocial,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,120025,EPITACIOLANDIA,AC
2,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
3,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
4,2000040,PREFEITURA MUNICIPAL DE FEIJO,120030,FEIJO,AC
5,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120035,MARECHAL THAUMATURGO,AC
6,6748759,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120030,FEIJO,AC
7,6308740,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120039,PORTO WALTER,AC
8,2001748,PREFEITURA MUNICIPAL DE PORTO WALTER,120039,PORTO WALTER,AC
9,6917682,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120020,CRUZEIRO DO SUL,AC
10,6428940,PREFEITURA MUNICIPAL DE ASSIS BRASIL,120005,ASSIS BRASIL,AC
11,6612385,PREFEITURA MUNICIPAL DE TARAUACA,120060,TARAUACA,AC
12,9648968,DISTRITO SANITARIO ESPECIAL DE SAUDE INDIGENA ...,120034,MANOEL URBANO,AC
13,6430201,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA,120032,JORDAO,AC
14,6955525,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120033,MANCIO LIMA,AC
15,5336171,SECRETARIA DE ESTADO DE SAUDE DO ACRE,120020,CRUZEIRO DO SUL,AC
16,6697151,MINISTERIO DA SAUDE,120050,SENA MADUREIRA,AC
17,3323307,PREFEITURA MUNICIPAL DE PORTO ACRE,120080,PORTO ACRE,AC
18,7123043,PREFEITURA MUNICIPAL DE JORDAO,120032,JORDAO,AC